h1 {
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-style: italic;
}

.categories {
  font-weight: bold;
}

.category1 {
  background-color: #fdfd96;
}

.category2 {
  background-color: #00FFFF;
}

.category3 {
  background-color: #C1E1C1;
}

.category4 {
  background-color: #F0FFFF;
}

.category5 {
  background-color: #C3B1E1;
}
