h1 {
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-style: italic;
}

.categories {
  font-weight: bold;
}

.category-politics {
  background-color: #fdfd96;
}

.category-technology {
  background-color: #00FFFF;
}

.category-local {
  background-color: #C1E1C1;
}

.category-opinion {
  background-color: #F0FFFF;
}

.category-sports {
  background-color: #C3B1E1;
}
